@charset "UTF-8";
.style1 {
  margin: 10px;
}

.style2 {
  padding: 20px;
}

section p {
  margin-bottom: 20px;
}

#contents section p {
  margin-bottom: 20px;
}
#contents p {
  margin-bottom: 0;
}
.note {
  color: #f00;
}

#contents p a:hover {
  text-decoration: underline;
}
#contents #contents p {
  padding: 10px;
}

/* cssのインポートとsassのインポート */
/* cssのインポートはブラウザがインポートを解釈して複数のファイルとして読み込む */
/* sassのインポートはビルド時にインポートしたファイルをまとめて一つのファイルにして出力する */
/* 結果cssインポートは複数のファイルを読み込むのでロード時間が長くなるのに対してsassインポートは一つのファイルを読み込むのでロード時間を短縮することができる */