//繰り返し処理
//同じ処理を何度も行いたい場合に使う
//sassの繰り返しはfor文、while文、each文がある

//for文は開始の数値を指定し、開始の数値から1ずつインクリメントしていき、終了の値になるまで繰り返す処理
//for文には二つの書き方がある

//for through・・・終了の数値を含んで、繰り返し処理を行う
@for $i from 1 through 3 {
    //繰り返し余白調整用のセレクタを作る
    //インターポレーション・・・プロパティ以外で変数を使う場合に使用
    .mt#{$i} {
        margin-top: $i * 10;
    }
}

//for to・・・終了の数値を含まず、繰り返し処理を行う
@for $i from 1 to 3 {
    $index: $i * 10;
    .mt#{$index} {
        margin-top: $i * 10;
    }
}

//while文・・・丸括弧の中に繰り返す条件を書く
//while文はfor文と違ってインクリメント処理が含まれていないので自分で書く必要がある
$i: 0;
@while ($i < 30) {
    .pb#{$i} {
        padding-bottom: $i * 10;
    }
    $i: $i + 10;
}

//each文・・・配列の要素に対して繰返処理を行う
//配列の要素に対して要素を一つずつ取り出しながら、配列の個数分だけ繰り返し処理をする

$icons: top, qa, contact;
//$valueは配列から取り出した要素を格納する変数
//inの後ろは実際に繰り返す配列
@each $value in $icons {
    .icon-#{$value} {
        background: url("../img/" + $value + ".png");
    }
}