//変数のスコープ
//変数には参照できる範囲ある
//変数を宣言する場所によってスコープが変わってくる
//変数は宣言する前の行からは参照できない
//sassは前から順番に処理されているから
$marginBottom: 30px;

//ルールセットの中で宣言する場合をローカル変数
//ルールセットの外で宣言する場合はグローバル変数
//グローバルはどこでも使えるが、ローカルはルールセットの中でしか使えない
//ルールセットの中に宣言された変数を他のルールセットで宣言したとしても変数は全く別のものとして扱われる
//グローバルより変数が使われているルールセットの中のローカルの方が優先度が高い
section {
    $value: 20px;
    margin-bottom: $marginBottom;
    p {
        padding: $value;
    }
}

footer {
    padding: 10px;
}