//文字、数値処理関数

//文字処理関数
.quote {
    //quote関数はダブルクォーテーションをつけて出力する関数
    content: quote(テスト);
}

.unquote {
    //unquote関数はダブルクォーテーションを外して出力する関数
    content: unquote("テスト");
}

//数値処理関数
.abs {
    //abs関数は絶対値を出力する関数
    //以下の計算だと-100pxになるが絶対値にして、マイナスを消す
    width: abs(100px - 200px);
}

.ceil {
    //ceil関数は小数点を切り上げる関数
    width: ceil(100px / 3);
}

.floor {
    //floor関数は小数点を切り下げる
    width: floor(100px / 3);
}

.round {
    //round関数は四捨五入する関数
    width: round(100px / 3);
}