//演算
//四則演算（割り算だけスラッシュは他の記号で認識されてしまう為、かっこで囲う必要あり）
//演算の最初の値に単位を指定しているとその後の値の単位は最初の値に合わせてくれるので書かな書くてもよい
//別の単位を指定すると最初の値の単位に変換して演算してくれる
//組み合わせができない単位はエラーが出る
//演算は文字列にも使える
//引き算は値と記号の間にスペース必須（-32と解釈されてしまう）
//割り算はかっこで囲う必要があるが、変数を使っている場合は割り算とわかるのでかっこは必要ない
//割り算が他の演算子と一緒に使われている場合もかっこいらない

$calcWidth: 1000px;

.calc {
    width: $calcWidth + 25 * 3;
    content: "文字列の" + "接続";
}

.calc2 {
    width: 500px - 32;
}

.calc3 {
    width: 500px * 8;
}

.calc4 {
    width: (500px / 8);
}

.calc4 {
    width: $calcWidth / 8;
}

.calc4 {
    width: $calcWidth / 8 + 5;
}

.calc6 {
    width: 500px % 8;
}
