//インターポレーション
//プロパティ以外でも変数を使いたい場合がある
//セレクタや文字列の一部を変数で使う場合
//変数名をそのまま書いてもエラーになる
//インターポレーションを使う時は#{}の中に変数名を入れる

//文字列でインターポレーションを使う場合
$IMG_PATH: "../img/";
//セレクタ名でインターポレーションを使う場合
$SELECTOR: '.box', '.item';

#{$SELECTOR} {
    background-image: url(#{$IMG_PATH}bg.png);
}

//インターポレーションは上記以外の使い道もある
//それは意図的に演算させたくない時

#{$SELECTOR} {
    //ローカル変数
    $height: 100px;
    $line-count: 10;
    background-image: url(#{$IMG_PATH}bg.png);
    //意図的に演算させない
    line-height: #{$height} / #{$line-count};
}

//逆に演算できないところで演算させる
//セレクタの中だと演算はできないですが、
//インターポレーションを使うと演算ができるようになる
//ループ処理は次のレッスンで出てくる
@for $i from 0 to 2 {
    .mt#{$i * 5} {
        margin-top: 5px * $i;
    }
}
//上記処理のcss出力結果
// .mt0 {
//     margin-top: 0px;
// }
  
// .mt5 {
//     margin-top: 5px;
// }

//変数に""を使った値が定義されている場合
//ダブルクォーテーションが二重にならないように自動的にアンクォートしてくれる
$text: "CSS";

.text {
    content: "#{$text} and Sass";
}