//デフォルトフラグ（!default）とグローバルフラグ（!global）

//デフォルトフラグは変数のデフォルト値を設定できる
//上書きされることを前提としての値
//通常は後から書かれた変数は前に書かれた変数を上書きされる
//デフォルトフラグを使うとデフォルト値で上書きされる
//デフォルトフラグを使うことで宣言された同名の変数があれば上書きされ、宣言が無くてもエラーにはならないのでコンポーネントとして再利用できる

//グローバル変数
$width: 300px;
$height: 100px;

.item1 {
    //ローカル変数
    $width: 33% !default;
    $height: 20%;
    width: $width;
    height: $height; 
}

.item2 {
    $width: 200px;
    $height: 50px !default;
    width: $width;
    height: $height;
}

//css出力結果
// .item1 {
//     width: 300px;
//     height: 20%;
// }
  
// .item2 {
//     width: 200px;
//     height: 100px;
// }

//グローバルフラグはネストの中で宣言した変数をグローバル変数にすることができる
//ネストの中からグローバル変数を上書きすることやネストの外から参照することができる
//この機能を乱用するとどこで値が上書きされたか分からなくなる
//例えばグローバルフラグで上書きしたものをさらにグローバルフラグで上書きしたりするとcssの!impotantみたいになってしまう
//使い所を考えて適切に使う必要がある
//グローバルフラグの使い所はネストの中で宣言した変数をスコープ外から参照できるのでmixinや継承で便利に使う

.item3 {
    $width: 100px !global;
    $color: #ff0 !global;
}

.item4 {
    width: $width;
    color: $color;
}