//色処理関数

.rgba {
    //rgba関数は色コード(16進数)とアルファ値を引数に渡すと、cssのrgbaで出力してくれる
    //cssのrgbaは色コードで受け付けてくれない
    color: rgba(#98ab8e, 0.3);
}

.mix {
    //mix関数は二つの色を混ぜた色を出力してくれる
    color: mix(#f70000,#0000e2);
}

.lighten {
    //lighten関数は指定した色コードに一定の色明るくした計算結果を出力してくれる
    color: lighten(#279841, 30%);
}

.darken {
    //darken関数は指定した色コードに一定の色暗くした計算結果を出力してくれる
    color: darken(#279841, 30%);
}
